<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlapping Word Generator</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .flexBox {
            display: flex;
            margin-top: 0.8rem;
        }

        .gridBox {
            display: grid;
            margin-top: 0.8rem;
            grid-template-columns: repeat(13, 1fr);
            gap: 0.8rem;
            width: 380px;
        }

        .outputArea {
            grid-template-columns: repeat(30, 1fr);
        }

        .stick {
            margin: 0;
            gap: 0;
            grid-template-columns: repeat(100, 1fr);
        }

        .letter {
            display: grid;
            grid-template-columns: repeat(3, 0.8rem);
            grid-template-rows: repeat(3, 0.8rem);
        }

        .block {
            width: 0.8rem;
            height: 0.8rem;
            border: 1px solid gray;
            background-color: black;
        }

        .light {
            background-color: yellow;
        }

        .light2 {
            background-color: orange;
        }

        .light3 {
            background-color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <label for="inputArea">Enter something: </label><input id="inputArea" v-model="word">
        <p></p>
        <label for="deep">Overlapping column number: </label><input type="number" id="deep" min="0" max="2"
            v-model="overlapNum">
        <hr>
        <span v-for="oneLetter in allLetters">[{{oneLetter}}]</span>
        <hr>
        <div class="gridBox">
            <div class="letter" v-for="oneLetter in allLetters">
                <div class="block" :class="showLetter(oneLetter,num-1)" v-for="num in 9"></div>
            </div>
        </div>
        <hr>
        <div class="gridBox outputArea">
            <div class="letter" v-for="oneLetter in word">
                <div class="block" :class="showLetter(oneLetter,num-1)" v-for="num in 9"></div>
            </div>
        </div>
        <!-- <hr>
        <div class="gridBox stick outputArea">
            <div class="block" :class="showWord(num-1)" v-for="num in 3*word.length"></div>
        </div>
        <div class="gridBox stick outputArea">
            <div class="block" :class="showWord(num-1+3*word.length)" v-for="num in 3*word.length"></div>
        </div>
        <div class="gridBox stick outputArea">
            <div class="block" :class="showWord(num-1+2*3*word.length)" v-for="num in 3*word.length"></div>
        </div>
        <hr>
        <div class="gridBox stick outputArea" v-for="n in 3">
            <div class="block" :class="wordLight[n-1][num-1]?'light':''" v-for="num in 3*word.length"></div>
        </div> -->
        <hr>
        <div class="gridBox stick outputArea" v-for="n in 3">
            <div class="block" :class="switchWord(wordLightOverlap[n-1][num-1])"
                v-for="num in 3*word.length-overlapNum*(word.length-1)"></div>
        </div>
        <hr>
        <div class="gridBox stick outputArea" v-for="n in 3">
            <div class="block" :class="switchWord(wordLight(0,n-1,num-1))"
                v-for="num in 3*word.length-0*(word.length-1)"></div>
        </div>
        <hr>
        <div class="gridBox stick outputArea" v-for="n in 3">
            <div class="block" :class="switchWord(wordLight(1,n-1,num-1))"
                v-for="num in 3*word.length-1*(word.length-1)"></div>
        </div>
        <hr>
        <div class="gridBox stick outputArea" v-for="n in 3">
            <div class="block" :class="switchWord(wordLight(2,n-1,num-1))"
                v-for="num in 3*word.length-2*(word.length-1)"></div>
        </div>
    </div>
    </div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                word: 'as soon as possible',
                overlapNum: 0,
                letterLight: {
                    a: [1, 1, 1, 1, 1, 1, 1, 0, 1,],
                    b: [1, 1, 0, 1, 1, 1, 1, 1, 0,],
                    c: [1, 1, 1, 1, 0, 0, 1, 1, 1,],
                    d: [1, 1, 0, 1, 0, 1, 1, 1, 0,],
                    e: [1, 1, 1, 1, 1, 0, 1, 1, 1,],
                    f: [1, 1, 1, 1, 1, 0, 1, 0, 0,],
                    g: [1, 1, 1, 1, 0, 1, 1, 1, 0,],
                    h: [1, 0, 1, 1, 1, 1, 1, 0, 1,],
                    i: [1, 1, 1, 0, 1, 0, 1, 1, 1,],
                    j: [1, 1, 1, 0, 1, 0, 1, 1, 0,],
                    k: [1, 0, 1, 1, 1, 0, 1, 0, 1,],
                    l: [1, 0, 0, 1, 0, 0, 1, 1, 1,],
                    m: [1, 0, 0, 1, 1, 1, 1, 1, 1,],
                    n: [1, 1, 1, 1, 0, 1, 1, 0, 1,],
                    o: [1, 1, 1, 1, 0, 1, 1, 1, 1,],
                    p: [1, 1, 1, 1, 1, 1, 1, 0, 0,],
                    q: [1, 1, 1, 1, 1, 1, 0, 0, 1,],
                    r: [1, 1, 1, 1, 0, 0, 1, 0, 0,],
                    s: [0, 1, 1, 0, 1, 0, 1, 1, 0,],
                    t: [1, 1, 1, 0, 1, 0, 0, 1, 0,],
                    u: [1, 0, 1, 1, 0, 1, 1, 1, 1,],
                    v: [1, 0, 1, 1, 0, 1, 0, 1, 0,],
                    w: [1, 1, 1, 1, 1, 1, 0, 1, 0,],
                    x: [1, 0, 1, 0, 1, 0, 1, 0, 1,],
                    y: [1, 0, 1, 1, 1, 1, 0, 1, 0,],
                    z: [1, 1, 0, 0, 1, 0, 0, 1, 1,],
                    ' ': [0, 0, 0, 0, 0, 0, 0, 0, 0,],
                    ',': [0, 0, 0, 0, 1, 0, 0, 1, 0,],
                    '.': [0, 0, 0, 0, 0, 0, 0, 1, 0,],
                    '\"': [1, 0, 1, 1, 0, 1, 0, 0, 0,],
                    '\'': [0, 1, 0, 0, 1, 0, 0, 0, 0,],
                    '=': [1, 1, 1, 0, 0, 0, 1, 1, 1,],
                },
            }
        },
        methods: {
            showLetter(letter, index) {
                return this.letterLight[letter][index] ? 'light' : ''
            },
            showWord(index) {
                let letterNum = Math.floor(index / 3) % this.word.length
                let rowNum = Math.floor(index / (this.word.length * 3))
                return this.letterLight[this.word.charAt(letterNum)][index % 3 + rowNum * 3] ? 'light' : ''
            },
            switchWord(index) {
                switch (index) {
                    case 0:
                        return ''
                    case 1:
                        return 'light'
                    case 2:
                        return 'light2'
                    case 3:
                        return 'light3'
                    default:
                        return ''
                }
            },
            wordLight(overlap, layer, letter) {
                let array = [[], [], []]
                for (let i = 0; i < this.word.length * 9; i++) {
                    let letterNum = Math.floor(i / 3) % this.word.length
                    let rowNum = Math.floor(i / (this.word.length * 3))
                    if (array[rowNum][i % (this.word.length * 3)] === undefined) { array[rowNum][i % (this.word.length * 3)] = 0 }
                    array[rowNum][i % (this.word.length * 3) - letterNum * overlap] += this.letterLight[this.word.charAt(letterNum)][i % 3 + rowNum * 3]
                }
                console.log(array[layer][letter])
                return array[layer][letter]
            },
        },
        computed: {
            allLetters() {
                let array = []
                for (let i = 0; i < Object.keys(this.letterLight).length; i++) {
                    let char = Object.keys(this.letterLight)[i]
                    array.push(char)
                    this.showLetter(char)
                }
                return array
            },
            wordLightOverlap() {
                let array = [[], [], []]
                for (let i = 0; i < this.word.length * 9; i++) {
                    let letterNum = Math.floor(i / 3) % this.word.length
                    let rowNum = Math.floor(i / (this.word.length * 3))
                    if (array[rowNum][i % (this.word.length * 3)] === undefined) { array[rowNum][i % (this.word.length * 3)] = 0 }
                    array[rowNum][i % (this.word.length * 3) - letterNum * this.overlapNum] += this.letterLight[this.word.charAt(letterNum)][i % 3 + rowNum * 3]
                }
                return array
            },
        },
    }).mount('#app')
</script>

</html>